@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 2%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1a55ad;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(32, 32, 63);
}

